<h1>Delete Author</h1>
<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>
<% if @author.num_books > 0 %>    
  <p>
    <strong>Notice:</strong> This author has <%= @author.num_books %> book(s).  You must first delete the author's books before deleting the author.
  </p>
<% else %>
  <%= form_with model: @author, local: true, method: 'delete' do |f| %>
    <%= f.submit "Confirm Delete" %>
  <% end %>
<% end %>

<p>
<%= link_to 'Edit Author', edit_author_path(@author) %> |    
<%= link_to 'Show Authors', authors_path %> |
<%= link_to 'Home', root_path %> 
</p>