<h1>Delete Author</h1>
<p>
  <strong>Name:</strong>
  <%= @author.name %>
    
</p>
<% if @author.num_books > 0 %>    

      
     
      <strong>Notice:</strong> Since <%= @author.name %> has <%= @author.num_books %> book(s), do you want to delete all books? 
      

         <br>  <tr><td>Title:</td> <br>
          <td><% @author.books.each do |book| %>
                <%= book.title %> <br>      
                 <% end %></td></tr>

    <%= form_with model: @author, local: true, method: 'delete' do |f| %>
    <%= f.submit "Confirm Delete" %>
    <% end %>


  
<% else %>
  <%= form_with model: @author, local: true, method: 'delete' do |f| %>
    <%= f.submit "Confirm Delete" %>
  <% end %>
<% end %>

<p>
<%= link_to 'Edit Author', edit_author_path(@author) %> |    
<%= link_to 'Show Authors', authors_path %> |
<%= link_to 'Home', root_path %> 
</p>